@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
.try {
    border: 2px solid orange;
    display: flex;
    

}
.coder-card {
    border: 2px solid red;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}
.coder-container  {
    border: 2px solid black;
    
}
.availablecoders {
    font-family: 'Righteous', cursive;
}

