@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@media only screen and (max-width: 500px)  {

.rendercode {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5%;
    
}
.coder-container {
    display: flex;
}
.coder-container p {
    margin: 5%;
}

.coder-card {
    border: 1px solid black;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.coder-card img {
    vertical-align: baseline;
}
.availablecoders h1 {
    font-family: 'Righteous', cursive;
    color: #00437f
}
.coderlinks {
    display: flex;
    justify-content: space-evenly;
}
.home {
   font-family: 'Righteous', cursive; 
   font-size: 18px;
}
.home:hover {
    padding: 1%;
    background-color: #00437f;
    color: white;
    transition: background-color 0.7s ease;
    transition: padding 0.7s ease;
   }
.signout {
    font-family: 'Righteous', cursive; 
    text-decoration: none;
    color: black;
}
button {
    border: 1px solid black;
}

}
.renderbtn {
    font-size: 15px;
    font-weight: bold;
}
.renderbtn:hover {
    background-color:#00437f;
    color: white;
}
.rendercode {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 5%;
    
}
.coder-container {
    display: flex;
}
.coder-container p {
    margin: 5%;
}

.coder-card {
    border: 1px solid black;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.coder-card img {
    vertical-align: baseline;
}
.availablecoders h1 {
    font-family: 'Righteous', cursive;
    color: #00437f
}
.coderlinks {
    display: flex;
    justify-content: space-evenly;
}
.home {
   font-family: 'Righteous', cursive; 
   font-size: 18px;
}
.home:hover {
    padding: 1%;
    background-color: #00437f;
    color: white;
    transition: background-color 0.7s ease;
    transition: padding 0.7s ease;
   }
.signout {
    font-family: 'Righteous', cursive; 
    text-decoration: none;
    color: black;
}
button {
    border: 1px solid black;
}
