@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

@media only screen and (max-width: 500px)  {
.homeContainer {
    border: 1px solid black;
    background: url('../images/anothercircuitboard.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh
}
.nav {
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.signUp {
    color: white;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Righteous', cursive;
    margin-left: -20%;
    border-right: 5px solid white;
    padding-right: 5%
   
}
.signIn {
    color:white;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Righteous', cursive;
    padding-left: 8%;
    margin-right: -25%
}

}
.homeContainer {
    border: 1px solid black;
    background: url('../images/anothercircuitboard.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 100vh
}
.nav {
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.signUp {
    color: white;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Righteous', cursive;
    margin-left: -20%;
    border-right: 5px solid white;
    padding-right: 5%
   
}
.signIn {
    color:white;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Righteous', cursive;
    padding-left: 8%;
    margin-right: -25%
}