@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@media only screen and (max-width: 500px) {
    .teamroster-container {
        height: 100vh;

    }
    .home {
        text-decoration: none;
        color: black;
    }
    .teamroster h1 {
        font-size: 40px;
        color: #00437f
    }
    .availablecoderslink{
        text-decoration: none;
        color: black;
        font-size: 18px;
    }
    .availablecoderslink:hover {
        padding: 1%;
        background-color: #00437f;
        color: white;
        transition: background-color 0.7s ease;
        transition: padding 0.7s ease;
    }
   .signout:hover {
    padding: 1%;
    background-color: #00437f;
    color: white;
    transition: background-color 0.7s ease;
    transition: padding 0.7s ease;
   }
    .teamName span {
        text-decoration: underline;
        color:#00437f
    }
    .teamroster{
        font-family: 'Righteous', cursive; 
    }
    .signout {
        font-size: 18px;
    }
    hr {
        border-top: 2px solid black
    }
    .rosterlinks {
        display: flex;
        justify-content: space-evenly;
        font-size: 20px;
    }
    .rosterlogo {
        height: 40vh;
        display: flex;
        margin-top: 5%;
       
    }
    .teamlogo {
        height: 70%;
        width: 70%;
        background: url("../images/rosterlogo.png");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }
    .teamName {
        display: flex;
        flex-direction: column;
        margin-left: 5%;
        margin-top: 5%;
        font-weight: bold;
        font-family: 'Righteous', cursive;
        height: 35%; 
       
    }
    .teamName p {
        font-size: 16px
    }

    .coderList {
        border: 2px solid #00437f;
        display: flex;
        justify-content: space-evenly;
        height: 10vh;
        margin-bottom: 2%;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    }

    .coderList img {
        height: 100%;
    }

    .coder-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .team-text h2 {
        margin: auto;
        padding: auto;
    }
    .UX {
        border: 2px solid #00437f;
        font-size: 25px;
        font-weight: bold; 
    }
    .front {
        border: 2px solid #00437f;
        font-size: 25px;
        font-weight: bold; 
    }
    .back {
        border: 2px solid #00437f;
        font-size: 25px;
        font-weight: bold; 
    }
    .yourname {
        color:#00437f
    }
   
}
.UX {
    border: 2px solid #00437f;
    font-size: 25px;
    font-weight: bold; 
}
.front {
    border: 2px solid #00437f;
    font-size: 25px;
    font-weight: bold; 
}
.back {
    border: 2px solid #00437f;
    font-size: 25px;
    font-weight: bold; 
}
.yourname {
    color:#00437f
}
    .job-title {
        border-right: 2px solid #2F4858;
        font-size: 40%;
        writing-model: vertical-rl

    }

.teamroster-container {
    height: 100vh;

}
.home {
    text-decoration: none;
    color: black;
}
.teamroster h1 {
    font-size: 40px
}
.availablecoderslink {
    text-decoration: none;
    color: black;
}
.availablecoderslink:hover {
    padding: 1%;
    background-color: #00437f;
    color: white;
    transition: background-color 0.7s ease;
    transition: padding 0.7s ease;
}
.signout:hover {
    padding: 1%;
    background-color: #00437f;
    color: white;
    transition: background-color 0.7s ease;
    transition: padding 0.7s ease;
   }
.teamroster{
    font-family: 'Righteous', cursive;
}
.rosterrenderbtn{
    appearance: none;
    background-color: transparent;
    border-radius: 0.6em;
    cursor: pointer;
    display: flex;
    align-self: center;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1;
    margin: 10px;
    padding: 1.2em 2.8em;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border-color:#b82601;
    color: #fff;
    box-shadow: 0 0 40px 40px #b82601 inset, 0 0 0 0 #b82601;
    transition: all 150ms ease-in-out;
    position: relative;
}
.rosterrenderbtn:hover {
    box-shadow: 0 0 10px 0 #b82601 inset, 0 0 10px 4px #b82601;
    color: black;
}

hr {
    border-top: 2px solid black
}
.rosterlinks {
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;

}
.rosterlogo {
    height: 40vh;
    display: flex;
    margin-top: 5%;
   
}
.teamlogo {
    height: 70%;
    width: 30%;
    background: url("../images/rosterlogo.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 2%;
}
.teamName{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    font-weight: bold;
    font-family: 'Righteous', cursive;
    height: 35%;
    font-size: 30px; 
}

.coderList {
    border: 2px solid #00437f;
    display: flex;
    justify-content: space-between;
    height: 15vh;
    margin-bottom: 2%;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);

}
.coderList img {
    height: 100%;
}

.coder-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.team-text h2 {
    margin: auto;
    padding: auto;
}

.teamName span {
    text-decoration: underline;
    color:#00437f
}


.job-title {
    border-right: 2px solid #2F4858;
    font-size: 40%;
    writing-mode: vertical-rl

}
